{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <h1>GamerNightZ</h1>
        <header>

        </header>
        <div class="main">
            <div class="month-list">
                <div class="event-list" id="event-list-jan">
                    <label for="event-list-jan">Januar</label>
                    <div class="event-field"> <!-- Keine Ahnung wie man ein Bild hier rein macht - wir wollen ja ein Bild als Hintergrund und dann Text dadrüber schreiben -->
                        <img src="./Images/Image1.jpg" width="10%" class="event-field-image"> <!-- Desswegen geht das nicht -->
                    </div>
                </div>
            </div>
        </div>
        <footer>

        </footer>
{% endblock %}